@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.link {
    @apply underline hover:text-gray-400;
}
.label {
    @apply block text-sm text-gray-200 mb-2;
}
.input {
    @apply bg-gray-800 text-sm rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-full p-3;
}
.button {
    @apply disabled:opacity-50 disabled:cursor-not-allowed flex text-white font-semibold py-3 px-4 rounded transition ease-in-out duration-150;
}
.button--primary {
    @apply disabled:bg-blue-500 bg-blue-500 hover:bg-blue-600;
}
.button--cancel {
    @apply disabled:bg-red-500 bg-red-500 hover:bg-red-600;
}
.app-container {
    @apply container mx-auto px-4;
}
.form-container {
    @apply w-3/4 lg:w-2/4 container mx-auto my-5 lg:px-4;
}
.discord {
    background-color: #7289DA;
}
.discord:hover {
    background-color: #4e5d94;
}
.twitch {
    background-color: #5c16c5;
}
.twitch:hover {
    background-color: #772ce8;
}
.form-separator::before,
.form-separator::after {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    background-color: #4a5568;
    position: absolute;
    width: calc(50% - 80px);
    height: 2px;
}
.form-separator::before {
    left: 0;
}
.form-separator::after {
    right: 0;
}
